min-release-age=7
package-lock=true
strict-ssl=true
# This blocks install scripts, which could be annoying, but better to be explicit about allowing exceptions than default to allow.
ignore-scripts=true
